<script setup>

import { ref } from 'vue'
import apiClient from '@/utils/axios.js'
import router from '@/router/index.js'

const totalAmount = ref('')
const details = ref(Array(3).fill({ name: '', percentage: '' }).map(item => ({ ...item })))
const errorMessage = ref('')
const successMessage = ref('')

const addDetail = () => {
  details.value.push({ name: '', percentage: '' });
}
const removeDetail = (index) => {
  details.value.length > 3 && details.value.splice(index, 1)
}

const submitForm = async () => {
  let totalPercentage = details.value.reduce((sum, detail) => sum + parseFloat(detail.percentage || 0), 0);
  if (totalPercentage !== 100) {
    errorMessage.value = 'Total percentage must be 100%';
  } else {
    errorMessage.value = '';
    await apiClient.post('api/bonuses', {
      total_amount: totalAmount.value,
      details: details.value
    })
      .then(response => {
        successMessage.value = response.data.message;
        details.value = Array(3).fill({ name: '', percentage: '' }).map(item => ({ ...item })); // Reset each item to a new object
        totalAmount.value = '';
        router.push({ name: 'home' })
      })
      .catch(error => {
        errorMessage.value = error.response.data.message || 'An error occurred';
      });
  }
}

const formatRupiah = (amount) => {
  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(amount);
}

const calculateBonusAmount = (percentage) => {
  const totalPercentage = details.value.reduce((sum, detail) => sum + parseFloat(detail.percentage || 0), 0);
  if (totalPercentage === 0) return 0;
  const bonusRatio = percentage / totalPercentage;
  return totalAmount.value * bonusRatio;
}

</script>


<template>
  <form @submit.prevent="submitForm" class="max-w-lg mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label for="totalAmount" class="block text-gray-700 text-sm font-bold mb-2">Total Bonus Payment (in Rupiah)</label>
      <input v-model="totalAmount" id="totalAmount" type="number" required class="w-full border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div v-for="(detail, index) in details" :key="index" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="mb-4">
        <label :for="`name-${index}`" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
        <input v-model="detail.name" :id="`name-${index}`" type="text" required class="w-full border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label :for="`percentage-${index}`" class="block text-gray-700 text-sm font-bold mb-2">Percentage</label>
        <input v-model="detail.percentage" :id="`percentage-${index}`" type="number" min="0" max="100" required class="w-full border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4 flex items-end">
        <button v-if="index >= 3" @click="removeDetail(index)" class="text-red-500 hover:text-red-700 focus:outline-none">Remove</button>
      </div>
    </div>

    <div class="mb-4">
      <button @click="addDetail" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Person</button>
    </div>

    <div v-if="errorMessage" class="text-red-500">{{ errorMessage }}</div>
    <div v-if="successMessage" class="text-green-500">{{ successMessage }}</div>

    <div>
      <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
    </div>

    <div class="mb-6">
      <div class="mt-2" v-for="(detail, index) in details" :key="index">
        <div class="flex items-center">
          <span class="mr-2">Name:</span>
          <span>{{ detail.name }}</span>
        </div>
        <div class="flex items-center">
          <span class="mr-2">Bonus Amount (Rupiah):</span>
          <span>{{ formatRupiah(calculateBonusAmount(detail.percentage)) }}</span>
        </div>
      </div>
    </div>
  </form>


</template>

<style scoped>

</style>