<script setup>
import TanStackTable from '@/components/TanStackTable.vue'
import router from '@/router/index.js'

const columns = [
  { Header: 'ID', accessor: 'id' },
  { Header: 'Total Amount', accessor: 'total_amount' },
  { Header: 'Created At', accessor: 'created_at' },
]

const addBonus = () => {
  router.push({ name: 'addBonus' })
}

</script>

<template>
  <button @click="addBonus" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 mb-4">
    Add Bonus
  </button>
  <TanStackTable
    :columns="columns"
    fetchUrl="/api/bonuses"
  />
</template>
