<template>
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
      <tr>
        <th v-for="column in columns" :key="column.accessor" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider whitespace-nowrap">
          {{ column.Header }}
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider whitespace-nowrap">Actions</th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
      <tr v-for="row in result" :key="row.id">
        <td v-for="column in columns" :key="column.accessor" class="px-6 py-4 whitespace-nowrap">
          <template v-if="column.accessor === 'created_at'">{{ formatDate(row[column.accessor]) }}</template>
          <template v-else-if="column.accessor === 'total_amount'">{{ formatCurrency(row[column.accessor]) }}</template>
          <template v-else>{{ row[column.accessor] }}</template>
        </td>
        <td class="flex justify-end px-6 py-4">
          <button @click="editRow(row.id)" class="mr-3 px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">Edit</button>
          <button @click="deleteRow(row.id)" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mt-4 flex justify-end space-x-2">
      <button @click="changePage(1)" :disabled="page <= 1" class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 disabled:opacity-50">
        First
      </button>
      <button @click="changePage(page - 1)" :disabled="page <= 1" class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 disabled:opacity-50">
        Previous
      </button>
      <div class="flex space-x-2">
        <button
          v-for="pageNumber in totalPages"
          :key="pageNumber"
          @click="changePage(pageNumber)"
          :class="['px-4 py-2 rounded', { 'bg-blue-500 text-white': pageNumber === page, 'bg-gray-300 text-gray-700 hover:bg-gray-400': pageNumber !== page }]"
        >
          {{ pageNumber }}
        </button>
      </div>
      <button @click="changePage(page + 1)" :disabled="page >= totalPages" class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 disabled:opacity-50">
        Next
      </button>
      <button @click="changePage(totalPages)" :disabled="page >= totalPages" class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 disabled:opacity-50">
        Last
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref, watch, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useVueTable } from '@tanstack/vue-table'
import apiClient from '@/utils/axios.js'
import { format } from 'date-fns'

const props = defineProps({
  columns: {
    type: Array,
    required: true,
  },
  fetchUrl: {
    type: String,
    required: true,
  },
});

const route = useRoute();
const router = useRouter();

const result = ref([]);
const page = ref(parseInt(route.query.page) || 1);
const totalPages = ref(1);

const fetchData = async (page) => {
  const { data } = await apiClient.get(`${props.fetchUrl}?page=${page}`);
  result.value = data.data;
  totalPages.value = data.last_page;
};

const changePage = (newPage) => {
  router.push({ query: { page: newPage } });
};

watch(() => route.query.page, (newPage) => {
  page.value = parseInt(newPage) || 1;
  fetchData(page.value);
});

onMounted(() => {
  fetchData(page.value);
});

useVueTable({
  columns: props.columns,
  data: result.value,
  manualPagination: true,
  pageCount: totalPages.value,
});

const editRow = (id) => {
  console.log('Editing row with ID:', id);
};

const deleteRow = (id) => {
  console.log('Deleting row with ID:', id);
};

const formatDate = (dateString) => {
  return format(new Date(dateString), 'd MMM, yyyy')
};

const formatCurrency = (amount) => {
  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(amount);
};

</script>
