<script setup>
import { RouterView } from 'vue-router'
import Navbar from '@/components/Navbar.vue'
import { storeToRefs } from 'pinia'
import { useUserStore } from '@/stores/useUserStore.js'

const { isLoggedIn } = storeToRefs(useUserStore())

</script>

<template>
  <Navbar v-if="isLoggedIn" />
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <router-view />
    </div>
  </main>
</template>
